{% extends 'base.html.twig' %}

{% block head_title 'Colors' %}


{% block body_intro %}
    <h2 >Colors</h2>
    <p>
        The design system has a set of named colors, that you can access in html through classes 
        (<code>class="pds-m-foo blue"</code>)
        or in css using variables (<code>var(--pds-color-blue)</code>).
    </p>
    <p>
        The available modifier classes involving color are 
        <code>pds-m-filled</code>,
        <code>pds-m-colored</code>,
        <code>pds-m-bordered</code>,
    </p>
    <p>
        The design system also has a set of theme colors, named
        <code>fill</code>, <code>stroke</code>, <code>accfill</code>, 
        and <code>accstroke</code> , that you can access in html through
         classes (<code>class="pds-m-foo fill-60"</code>)
        or in css using variables (<code>var(--pds-color-fill-60)</code>).
        <br><br>
        The exact colors of these properties depend on the `theme` used
        in that context. You can select a theme in html through 
        classes (<code>class="pds-t-blue01"</code>)
        or in sass using a mixin (<code>@include pds-theme(yellow01)</code>).        
    </p>

{% endblock %}


{% block body_content %}


    <h3 >named colors</h3>
    <table width="100%" id="colortable">
        {% for maincolor, subcolors in colors %}
            <tr>
                <th class="pds-m-filled {{ maincolor }}">
                    {% if maincolor == "black" %}
                        <span class="pds-m-colored black-60">{{ maincolor }}</span>
                    {% else %}
                        {{ maincolor }}
                    {% endif %}
                </th>
                {% for color in subcolors %}
                    {% if not(color == "black") %}
                        <td class="pds-m-filled {{ color }}">{{ color }}</td>
                    {% else %}
                        <td class="pds-m-filled black"></td>
                    {% endif %}
                {% endfor %}
                
            </tr>
        {% endfor %}
    </table>
    <br><br>
    <h3 >Theme colors</h3>
    <table width="100%" id="themetable">
        {% for theme , themename in themes %}
            <tr class="pds-t-{{ theme }}">
                <td class="pds-m-filled" colspan="7">{{ themename }} (fill, stroke)</td>
                <td class="pds-m-filled accent" colspan="7">{{ themename }} accent (accfill, accstroke)</td>
            </tr>
            <tr class="pds-t-{{ theme }}">
                <td class="pds-m-filled fill-120">120</td>
                <td class="pds-m-filled fill-110">110</td>
                <td class="pds-m-filled fill-80">80</td>
                <td class="pds-m-filled fill-60">60</td>
                <td class="pds-m-filled fill-40">40</td>
                <td class="pds-m-filled fill-20">20</td>
                <td class="pds-m-filled fill-10">10</td>
                <td class="pds-m-filled accent-120">120</td>
                <td class="pds-m-filled accent-110">110</td>
                <td class="pds-m-filled accent-80">80</td>
                <td class="pds-m-filled accent-60">60</td>
                <td class="pds-m-filled accent-40">40</td>
                <td class="pds-m-filled accent-20">20</td>
                <td class="pds-m-filled accent-10">10</td>
            </tr>
        {% endfor %}
    </table>
    <br><br>

    <style type="text/css">
        #colortable th {
            padding:1em 2em;
            color:black;
        }
        #colortable td {
            padding:.5em;
            color:black;
        }
        #themetable th {
            padding:1em 2em;
        }
        #themetable td {
            padding:.5em;
        }
    </style>

{% endblock %}
