{% extends 'base.html.twig' %}

{% block head_title 'Colors' %}


{% block body_intro %}
    <h2 >Colors</h2>
    <p>
        The design system has a set of named colors, that you can access through pds 
        modifier classes (<code>class="pds-m-foo blue"</code>)
        or using css variables (<code>var(--pds-color-blue)</code>).
    </p>
    <br>
    <p>
        These colors are grouped in themes that you can access through pds
        theme class (<code>class="pds-t-theme01"</code>)
        or using css variables (<code>var(--pds-color-theme01-fill</code>).
        Each theme contains a <code>fill</code>, <code>stroke</code>, <code>fill2</code>, 
        and <code>stroke2</code> color.<br><br>
        The 'themes' are also used to style pds components, so displaying eg a button
        in 'theme02' changes all the associated hover/active state colors of that 
        button.
    </p>

{% endblock %}


{% block body_content %}


    <h3 >named colors</h3>
    <table width="100%" id="colortable">
        {% for maincolor, subcolors in colors %}
            <tr>
                <th class="pds-m-filled {{ maincolor }}">
                    {% if maincolor == "black" %}
                        <span class="pds-m-colored black-60">{{ maincolor }}</span>
                    {% else %}
                        {{ maincolor }}
                    {% endif %}
                </th>
                {% for color in subcolors %}
                    {% if not(color == "black") %}
                        <td class="pds-m-filled {{ color }}">{{ color }}</td>
                    {% else %}
                        <td class="pds-m-filled black"></td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <br><br>
    <h3 >Theme colors</h3>
    <table width="100%" id="themetable">
        {% for theme , themename in themes %}
            <tr class="pds-t-{{ theme }}">
                <td class="pds-m-filled" colspan="6">{{ themename }} (fill, stroke)</td>
                <td class="pds-m-filled accent" colspan="6">{{ themename }} accent (fill2, stroke2)</td>
            </tr>
            <tr class="pds-t-{{ theme }}">
                <td class="pds-m-filled fill-120">120</td>
                <td class="pds-m-filled fill-110">110</td>
                <td class="pds-m-filled fill-80">80</td>
                <td class="pds-m-filled fill-60">60</td>
                <td class="pds-m-filled fill-40">40</td>
                <td class="pds-m-filled fill-20">20</td>
                <td class="pds-m-filled accent-120">120</td>
                <td class="pds-m-filled accent-110">110</td>
                <td class="pds-m-filled accent-80">80</td>
                <td class="pds-m-filled accent-60">60</td>
                <td class="pds-m-filled accent-40">40</td>
                <td class="pds-m-filled accent-20">20</td>
            </tr>
        {% endfor %}
    </table>
    <br><br>

    <style type="text/css">
        #colortable th {
            padding:1em 2em;
            color:black;
        }
        #colortable td {
            padding:.5em;
            color:black;
        }
        #themetable th {
            padding:1em 2em;
        }
        #themetable td {
            padding:.5em;
        }
    </style>

{% endblock %}
