{% extends 'base.html.twig' %}
{% import 'macros/styleguide.html.twig' as styleguide %}

{% block head_title 'Graphics' %}


{% block component_intro %}
    <h2 >Graphics</h2>
    <p>
        All graphics are located in ./assets/images. Most of these graphics will be used in components, 
        so look in that chapter on how to use them properly. If images don't show up here, 
        you may not be looking on http://localhost but on file:///?
    </p>
{% endblock %}


{% block component_list %}
    <div>
        {# 'images' is read from assets/images directory by build script #}
        {% if images|default and images|length %}
            <div class="demo-images">
                {% for img in images %}
                    {% if img|split('.')|last == "svg" %}
                        <div class="demo-image pds-m-filled sand">
                            <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 240 240" style="color:black; margin:1em;">
                                <use href='{{ rooturi ~ '/assets/images' }}/{{ img }}#root' 
                                    width="240px" height="240px"></use>
                            </svg>
                            <p class="demo-image-name">{{ img }}</p>
                        </div>
                    {% else %}
                        <div class="demo-image pds-m-filled sand">
                            <img src="/assets/images/{{img}}" style="max-width:240px; margin:1em;">
                            <p class="demo-image-name">{{ img }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
