{% extends 'styleguide/component.html.twig' %}
{% import 'macros/components.html.twig' as ui %}


{% block head_title 'Icons - Styleguide' %}


{% block component_intro %}
   <h1 >Icons</h1>
   <p>
    List of all kind of icons used throughout the project. Every icons starts with a class (pds-c-icon) 
    and a modifier to specify which icon. Optional additional modifiers are colors, 'colored' and 'accented'
    to use the current themes color and accent, and 'large'.
   </p>
   <br>
    <h4 >Elements and modifiers</h4>
    <ul>
        <li>.pds-c-icon [.{name}] [.large | .medium ]  [.colored] [.accented] [.{color}] </li>
    </ul>
    <br>

    <h1 >Themes</h1>
    
    <form>
        <select class="pds-c-input dropdown full-width"
            onchange="document.body.className=this.options[this.selectedIndex].value">
            <option value="" selected disabled>Select a theme ...</option>
            {% for themeid,themename in themes %}
                <option value="{{ themeid }}">{{ themename }}</option>
            {% endfor %}
        </select>
    </form>

{% endblock %}

{% block component_list %}

    {% for component in components['icon'] %}
        {{ ui.styleguide_component(component.styleguide_type, component, styleguide.outputs) }}
    {% endfor %}
    
    <hr>

    {% for icon in icons %}
        {% set iname = icon | basename() %}
        {% if iname %} 
            <h3><i class="pds-c-icon large {{ iname }}"></i>&nbsp;{{ iname }}</h3>
            <br>
            <p style="columns: 2 auto;">
                <small><i class="pds-c-icon large {{ iname }} colored"></i>&nbsp;{{ iname }}.colored</small><br>
                <small><i class="pds-c-icon large {{ iname }} accented"></i>&nbsp;{{ iname }}.accented</small><br>
                {% for color,subcolors in colors %}
                    <small><i class="pds-c-icon large {{ iname }} {{ color }}"></i>&nbsp;{{ iname }}.{{ color }}</small><br>
                {% endfor %}
            </p>
            <hr>
        {% endif %}
    {% endfor %}

{% endblock %}
