{% extends 'base.html.twig' %}
{% import 'macros.html.twig' as ui %}


{% block head_title 'Icons' %}


{% block body_intro %}
   <h1 >Icons</h1>
   <p>
    List of all kind of icons used throughout the project. Every icons starts with a class (pds-c-icon) 
    and a modifier to specify which icon. Optional additional modifiers are colors, 'colored' and 'accented'
    to use the current themes color and accent, and 'large'.
    <br><br>
    Icons use themes for their 'color' and 'accent' modifiers. 
   </p>
    <h3 >Elements and modifiers</h3>
    <ul>
        <li>.pds-c-icon [.{name}] [.large | .medium ]  [.colored] [.accented] [.{color}] </li>
    </ul>
    <br>

{% endblock %}

{% block body_content %}

    {% for icon in icons %}
        {% set iname = icon | basename() %}
        {% if iname %} 
            <h3><i class="pds-c-icon large {{ iname }}"></i>&nbsp;{{ iname }}</h3>
            <br>
            <p style="columns: 2 auto;">
                <small><i class="pds-c-icon large {{ iname }} colored"></i>&nbsp;{{ iname }}.colored</small><br>
                <small><i class="pds-c-icon large {{ iname }} accented"></i>&nbsp;{{ iname }}.accented</small><br>
                {% for color,subcolors in colors %}
                    <small><i class="pds-c-icon large {{ iname }} {{ color }}"></i>&nbsp;{{ iname }}.{{ color }}</small><br>
                {% endfor %}
            </p>
            <hr>
        {% endif %}
    {% endfor %}

{% endblock %}
