

{% set items = navigation %}

{% if items|default and items|length %}
    <input type="checkbox" id="navToggle" class="page-nav-toggle">
    <div class="page-nav"></div>

    <aside class="page-aside">

        <label class="page-nav-toggler" for="navToggle"></label>

        <nav>
            <ul class="page-nav-list">
                {% for i in items %}
                    <li class="page-nav-item  {{ i.intrail ? 'page-nav-item--current' : '' }}">
                        <a class="page-nav-link  {{ i.intrail ? 'page-nav-link--current' : '' }}" 
                            href="{{ rooturi }}{{ i.uri }}">{{ i.title }}</a>
                        {% if i.intrail %}
                            {% if i.items %}
                                {% set submenu_items = i.items %}
                                {% if submenu_items|length %}
                                    <ul class="page-subnav">
                                        {% for i in submenu_items %}
                                            <li class="page-subnav-item">
                                                <a class="page-subnav-link  {{ i.current ? 'page-subnav-link--current' : '' }}" 
                                                    href="{{ rooturi }}{{ i.uri }}">{{ i.title }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </aside>
{% endif %}

