
{% set cx = {
    container: html_classes({
        'full-width': full_width,
        'pds-t-corporate': theme == 'corporate',
        'pds-t-variant01': theme == 'variant01',
        'pds-t-variant02': theme == 'variant02',
        'pds-t-variant03': theme == 'variant03',
        'pds-t-variant04': theme == 'variant04',
        'pds-t-variant05': theme == 'variant05',
        'pds-t-variant06': theme == 'variant06',
    })
} %}
<div class="pds-c-input-container radio  has-hover-propagation  {{ cx.container }}">
    <label for="{{ id }}">
        <input class="pds-c-input" type="radio" id="{{ id }}" name="{{ name }}" value="{{ value }}" {% if checked %}checked="checked"{% endif %}>
        <div class="pds-c-input-check"></div>
        {{ label }}
    </label>
</div>
