{% extends 'buttons/_button.html.twig' %}
{% import 'macros.twig' as ui %}


{% block button_content %}
    {% if bem %}
        <span class="c-button__icon-container">
            <!-- replace the SVG-code with the appropriate from the folder 'images/icons/24px' -->
            {{ ui.svg(icon_left.name, {
                width: icon_left.width|default(10),
                height: icon_left.height|default(10),
                directory: icon_left.directory|default('assets/images/icons/24px'),
                css_classes: ['c-button__icon', 'c-button__icon--left', 'c-button__icon--' ~ icon_left.name|basename]
            }) }}

            <span class="c-button__icon-container__label  c-button__icon-container__label--right  {{ js_hook_text }}">
                {% if text %}
                    {{ text }}
                {% endif %}
            </span>

            <!-- replace the SVG-code with the appropriate from the folder 'images/icons/24px' -->
            {{ ui.svg(icon_right.name, {
                width: icon_right.width|default(10),
                height: icon_right.height|default(10),
                directory: icon_right.directory|default('assets/images/icons/24px'),
                css_classes: ['c-btn-icon', 'right', 'icon--' ~ icon_right.name|basename]
            }) }}
        </span>
    {% else %}
        <span class="c-button-content">
            <!-- replace the SVG-code with the appropriate from the folder 'images/icons/24px' -->
            {{ ui.svg(icon_left.name, {
                width: icon_left.width|default(10),
                height: icon_left.height|default(10),
                directory: icon_left.directory|default('assets/images/icons/24px'),
                css_classes: ['c-button-icon', 'left', 'icon--' ~ icon_left.name|basename]
            }) }}

            <span class="c-button-label right">
                {% if text %}
                    {{ text }}
                {% endif %}
            </span>

            <!-- replace the SVG-code with the appropriate from the folder 'images/icons/24px' -->
            {{ ui.svg(icon_right.name, {
                width: icon_right.width|default(10),
                height: icon_right.height|default(10),
                directory: icon_right.directory|default('assets/images/icons/24px'),
                css_classes: ['c-button-icon', 'right', 'icon--' ~ icon_right.name|basename]
            }) }}
        </span>

    {% endif %}
{% endblock %}
