{% import 'macros.twig' as ui %}


{% if url %}
<a class="pds-c-logo" href="{{ url }}" title="{{ title }}">
{% endif %}
    <img src="{{ logo.directory }}/{{ logo.name }}" 
        {{ logo.width ? 'width=' ~ logo.width ~'' }}
        {{ logo.height ? 'height=' ~ logo.height ~ ''}}
        {{ logo.alt ? 'alt=' ~ logo.alt ~ ''}}
        {{ not url ? 'title=' ~ title ~ ''}}
    >
{% if url %}
</a>
{% endif %}