<nav class="pds-c-tabs-container {{ theme }}" role="navigation">
    <ol>
        {% for tab in tabs %}
            <li>
                {% if tab.url %}
                    <a href="{{ tab.url }}" class="{% if tab.is_current %}active{% endif %}">{{ tab.label }}</a>
                {% else %}
                    <span class="{{ tab.url }} pds-c-tabs-link {% if tab.is_current %}active{% endif %}">{{ tab.label }}</span>
                {% endif %}
            </li>
        {% endfor %}
    </ol>
</nav>
