
{% set cx = (bem) ? {
    container: html_classes({
        'c-input--dropdown--full-width': full_width,
        't-corporate': theme == 'corporate' or not theme,
        't-theme2': theme == 'theme2',
        't-theme3': theme == 'theme3',
        't-theme4': theme == 'theme4',
        't-theme5': theme == 'theme5',
        't-theme6': theme == 'theme6',
        't-theme7': theme == 'theme7',
    })
} : {
    container: html_classes({
        'full-width': full_width,
        't-corporate': theme == 'corporate' or not theme,
        't-theme2': theme == 'theme2',
        't-theme3': theme == 'theme3',
        't-theme4': theme == 'theme4',
        't-theme5': theme == 'theme5',
        't-theme6': theme == 'theme6',
        't-theme7': theme == 'theme7',
    })
} %}
{% if bem %}
<div class="c-input--container  c-input--container--checkbox  has-hover-propagation  {{ cx.container }}">
    <input class="c-input  c-input--checkbox" type="checkbox" id="{{ id }}" name="{{ name }}" value="{{ value }}" {% if checked %}checked="checked"{% endif %}>
    <label class="c-input-label" for="{{ id }}">{{ label }}</label>
    <div class="c-input--checkbox__check"></div>
</div>
{% else %}
<div class="c-input-container checkbox  has-hover-propagation  {{ cx.container }}">
    <input class="c-input  checkbox" type="checkbox" id="{{ id }}" name="{{ name }}" value="{{ value }}" {% if checked %}checked="checked"{% endif %}>
    <label class="c-input-label" for="{{ id }}">{{ label }}</label>
    <div class="c-input-check"></div>
</div>
{% endif %}